body {
    font-family: Perpetua, serif;
    text-align: center;
    background: #1f1f2a;
    color: #e1e1e1;
}
a:link {
    color: #a9b7ce;
}
a:visited {
    color: #a9b7ce;
}
a:hover {
    color: #818c9d;
}
