.videos {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: scroll;
}

.video {
    text-align: center;
    width: 300px;
    min-width: 300px;
    margin: 5px;
    border: 1px solid black;
}

.author-date {
    margin: 5px;
}
