<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jarklyn's Site</title>
    <script type="text/javascript" src="/jarklyn-site/script/view.js"></script>
    <link rel="stylesheet" href="/jarklyn-site/style/view.css">
</head>
<body>
    <h1>Jarklyn's Video Streaming Page</h1>
    <a href="/jarklyn-site">Back to Home</a>
    <div class="videos" id="videos"></div>
    <video id="player" controls></video>
    <div id="title"></div>
    <div id="date"></div>
</body>
</html>
